.widget_container{
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
}
.widget_container .path_node{
    padding: 5px 102px 5px 10px;

}
.widget_container .data_node{
    padding: 5px 30px 5px 10px;

}
.widget_container .title_node{
    padding: 5px 30px 5px 10px;
}

.widget_container h6{
    color: rgb(177, 177, 177);
    padding: 0;
    margin: 0;
}

.widget_container p{
    color: white;
    padding: 0;
    margin: 0;
    font-size: smaller;
}