
.input_container input[type="text"] {
    background-color : #171717; 
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Sora', sans-serif;
    color:white;
    font-weight: bolder;
    transition: all 100ms;

}
.input_container input[type="text"]:focus {
    outline: none !important;
    box-shadow: 0 0 3px #171717;
}

.input_container button {
    background-color : #171717; 
    border-style: none;
    color: #858585;
    padding: 5px;
    transform: translateX(-25px);
}

.input_container button:hover {
    cursor: pointer;
}

.input_container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }


