.button_container {
    margin-top: 10px;
    margin-left: 5px;
}

.button_container button{
    padding: 10px;
    background-color: rgb(34, 34, 34);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    min-width: 100px;
}

.button_container button:hover{
    cursor: pointer;
}

