@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #335A95, #1A0123);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main{
  margin-top: 75px;
  margin-left: 75px;
  margin-right: 10px;
  display: flex;
}