.tab_content {
    background-color: #212121;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .tab_content h2 {
    padding: 0px 0 5px 0px;
    color:rgb(255, 255, 255);

  }
  .tab_content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .tab_content p {
    width: 100%;
    height: 100%;
  }

  .active_content {
    display: block;
  }
