.tab_menu {
    text-align: center;
    width: 50%;
    background: #1D1D1D;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
  }

  .active_tab{
    border-bottom: 4px solid #6456B7;
    animation-name: fade;
    animation-duration: 1s;
  }

  .tab_menu_container {
    display: flex;
  }

  .tab_menu button{
    background-color: rgba(0,0,0,0.0);
    border-style: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: rgb(204, 204, 204);

  }

  @keyframes fade {
    from { border-bottom: 4px solid #1D1D1D;}
    to {border-bottom: 4px solid #6456B7;}
  }
