.progress_bar{
  border-radius: 13px;
  width: 300px;
}

.progress_bar > div{
  height: 3px;
  border-radius: 10px;
  animation: all 500ms;
}

.progressbar_container{
  display: flex;
}

.progressbar_text{
  padding: 0;
  margin: 0;
  font-weight: bolder;
  font-size: small;
}